@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');


*{
    box-sizing: border-box;
    font-family: "Galindo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}




body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #373C40;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.square{
    background-color: rgb(255, 255, 255);
    
    flex-grow: 1;
}
.grid{
    background-color: white;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.row{
    width: 100%;
    display: flex;
    flex-grow: 1;
    
}
.allContainer{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 40rem;
    border-radius: 25px;
    position: absolute;
    
    gap: 15px;
    
}
#NumberInput{
    background-color: rgba(196, 176, 176, 0.432);
    border: 1px solid rgb(152, 123, 123);
    width: 3rem;
    outline: none;
    color: rgb(238, 238, 238);
    border-radius: 5px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    font-size: 0.7rem;
    height: 1.5rem;
    color: rgba(255, 255, 255, 0.726);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.788);
    
}
.top{
    display: flex;
    gap: 20px;
}


.moreControls{
    display: flex;
    gap: 13px;
}
#color{
    width: 4rem;
    height: 2.1rem;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    -moz-appearance: none;
    background-color: transparent;
    
    
}
.colorPicker{
    display: flex;
    gap: 10px;
    align-items: center;
}
#color::-webkit-color-swatch{
    border-radius: 10px;
    border: 1px solid yellow;

}
.moreControls{
    display: flex;
    align-items: center;
}

#range{
    -webkit-appearance: none;
    width: 30rem;
    background: repeating-linear-gradient(to left,
     rgba(255, 255, 0, 0.185) 0 1px,transparent 0 10px);
    rotate: 90deg;
    position: absolute;
    top: 18.9rem;
    left: -14rem;
    direction: rtl;
    padding: 0;
    margin: 0;
    height: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
}


#range::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: yellow;
    width: 0.5rem;
    height: 1.4rem;
    scale: 1.3;

}

.rangetext{
    position:absolute;
    left: -1rem;
}
p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 0.6rem;
    opacity: 0.5;
    margin: 0;
}

label {
    font-size: small;
    opacity: 0.7;
}
button {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.788);
    border: 1px solid yellow;
    border-radius: 5px;
    color: yellow;
    font-size: 0.7rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
select{
    background-color: transparent;
    outline: none;
    color: yellow;
    border-radius: 5px;
    height: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.788);
    border: 1px solid yellow;
    cursor: pointer;
}

.gridNumberInput{
    gap: 10px;
    display: flex;
    align-items: center;

}

.mode{
    display: flex;
    gap: 10px;
    align-items: center;
}
i{
    font-size: 1rem;
    color: yellow;
}

input[type="checkbox"]{
    accent-color:yellow;
}

option{
    background-color: yellow;
    color: black;
}
span{
    font-size: 0.7rem;
}