*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.square{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(138, 132, 132, 0.031);
    flex-grow: 1;
}
.grid{
    background-color: white;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.row{
    width: 100%;
    display: flex;
    flex-grow: 1;
    
}

