*{
    box-sizing: border-box;
    font-family: 'fun',sans-serif;
    color: white;
}
@font-face{
    font-family: 'fun';
    src: url(beachday.ttf);
    font-size: normal;
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.square{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(138, 132, 132, 0.031);
    flex-grow: 1;
}
.grid{
    background-color: white;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.row{
    width: 100%;
    display: flex;
    flex-grow: 1;
    
}
.allContainer{
    background-color: rgb(247, 67, 67);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 40rem;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.415);
    gap: 15px;
    border: 1px solid rgb(152, 123, 123);
}
#NumberInput{
    background-color: rgb(170, 144, 144);
    border: 1px solid rgb(152, 123, 123);
    width: 2rem;
    color: rgb(238, 238, 238);

}
.top{
    display: flex;
    gap: 20px;
}
button,select{
    
    background-color:  rgb(225, 245, 0);
    border: 1px solid rgb(152, 123, 123);
    color: rgb(255, 110, 110);
}

.moreControls{
    display: flex;
    gap: 20px;
}
#color{
    width: 2rem;
    outline: none;
    border: 3px solid rgb(242, 255, 0);
    
    
}

